.dropdown-menu {
    background: #d3d3d3;
    width: 200px;
    position: absolute;
    top: 47px;
    list-style: none;
    text-align: start;
    z-index: 1;
}

.dropdown-menu li {
    background: #FFFFFF;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #d5d5d5;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 16px;
}
